[submodule "Utility"]
	path = Utility
	url = https://github.com/iconstudio/Utility.git
[submodule "Demo/Server/Modern Network"]
	path = Demo/Server/Modern Network
	url = https://github.com/iconstudio/Modern-Network-TryOut.git
[submodule "Demo/Server/Colourful-Console"]
	path = Demo/Server/Colourful-Console
	url = https://github.com/iconstudio/Colourful-Console.git
